/*--- Fonts --- */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/*--- Global css --- */
*
{
    margin: 0;
    padding: 0;
}
body
{
    font-family: 'Poppins', sans-serif;
}
.nav-container{
    background-color: #F0FFF0;
    padding-top: 10px;
}
.container-fluid > img{
    width: 20%;
}
.line-style{
    padding: 5px 28px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    color: white;
    background-color: #21B573;
    text-decoration: none;
    font-size: 19px;
    font-weight: 200;

position: absolute;
width: 104px;
height: 43px;
}
.line-style:hover{
    font-weight: 400;
    color: #fff;
}
.nav-item{
    margin-left: 35px;
    padding: 8px;
}





/* Thanks for watching */
/* ##/11/2022 */